:root {
  --background-color: rgba(253, 246, 240, 0.6);
  --main-shadow: 0px 10px 10px rgba(0 0 0 / 8%);
}

body {
  background-image: url("/src/images/paper.jpg");
  background-size: auto;
  background-position: center;
}

.navigation {
  margin: 0 0 0 20px;
}

.intro {
  display: block;
  margin: 0 auto;
  padding: 80px 20px;
  background: var(--background-color);
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.intro h1 {
  color: rgb(248, 181, 201);
  font-size: 64px;
  font-style: italic;
  font-weight: bold;
}

.intro h2 {
  color: rgb(253, 204, 198);
}

.content {
  margin: 30px auto;
  padding: 20px;
  background: var(--background-color);
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.content img {
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.content p {
  margin: 60px 20px;
}

.footer {
  margin: 0 auto;
  padding: 20px;
  background: var(--background-color);
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.footer a {
  text-decoration: none;
}
